.sidebar__container {
	width: 27%;
	box-sizing: border-box;
}

.sidebar__cardHeader {
	text-transform: uppercase;
	font-size: 15px;
	text-align: center;
	box-sizing: border-box;
	letter-spacing: 2px;
	color: #333;
}

.sidebar__profileImage {
	width: 100%;
}

.sidebar__profileImage > img {
	width: 100%;
	height: 100%;
	margin: 20px 0;
}

.sidebar__cardText > p {
	font-size: 15px;
	color: var(--text-color);
	font-weight: 400;
	margin: 0;
	text-align: justify;
}
.sidebar__recentPosts {
	margin: 20px 0;
}

.sidebar__recentPost {
	border-bottom: 1px solid #eee;
	padding: 10px 0;
}

.sidebar__recentPost > h3 {
	font-weight: 500;
	color: #6c6c6c;
	letter-spacing: 1px;
	font-size: 15px;
}

.sidebar__recentPost > span {
	margin: 0;
	font-size: 10px;
	font-weight: 400;
	color: #6c6c6c;
}
